.final{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #151515;
    min-height: 100vh;
}

.final-table{
    margin: 10vh;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.heading1{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: white;
}

.heading2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.final .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    padding-right: 5%;
}

.text{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    padding: 5%;
    text-align: center;
    margin-bottom: -30px;
}

.para{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 5%;
    margin-bottom : 15px;
}

.left table{
    color: white;
}

.email-btn{
    width: 357px;
    height: 51px;
    border: 2px solid #1684F8;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #151515;
    color: #1684F8;
}

.email-btn:hover{
    background-color: #1684F8;
    color: white;
}

.table-btn{
    width: 110px;
    height: 40px;
    background: #1FAE8C;
    box-shadow: 0px 8px 16px -1px rgba(15, 35, 177, 0.15);
    border-radius: 2px;
    font-size : 14px;
    border: none;
    color: white;
}

.table-quantity{
    color: #1684F8;
    font-weight : 600;
}

.table-quantit{
    color: #1684F8;
    font-weight : 700;
    font-size : 20px;
    
}

.table-txt{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: right;
}

.table-tx{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: right;
}

.btn-color {
    background: #AF1527!important;
}

.air-img{
    height:25vh;
    width:20vw; 
}

.send-mail{
    display:flex;
    flex-direction: column;
}

.receiver-email{
    border: none;
    background-color:#151515;
    width: 30rem;
    height: 2.6rem;
    font-size: 1rem;
    border-bottom: 2px solid white;
    margin-bottom:50px ;
    color: white;
    outline:none;
    width: 357px;
}