.login-page{
    background-color: #151515;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

.login-page .left{
    width: 50%;
}

.login-page .left img{
    width: 100%;
    height: 98vh;
}    

.login-page .right{
    width: 50%;
    color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 40px;
}

.login-page .heading{
    /* font-family: 'Satoshi'; */
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 0rem;
}

.login-page .right .form{
    margin-top: 70px;
}

.login-page .form .input-head{
    font-size: 1.5rem;
}

.login-page .input-fields input{
    border: none;
    background-color:#151515;
    width: 30rem;
    height: 2.6rem;
    font-size: 1rem;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom:50px ;
}

.login-page .login-button{
    border: none;
    width: 31rem;
    height : 3rem;
    background-color: #0838E1;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color : white;
    margin-top: 3rem;
}